/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-openstad-openstad {

	.components-base-control {
		width: 100%;
	}

	.components-text-control__input {
		overflow: hidden;
		overflow-wrap: break-word;
		height: 43px;
		background: hsl(0, 0%, 100%);
		border: 1px solid hsl(0, 0%, 11.8%);
		border-radius: 2px;
		box-shadow: none;
		box-sizing: border-box;
		color: hsl(0, 0%, 11.8%);
		font-family: Menlo, Consolas, monaco, monospace;
		font-size: 16px;
		max-height: 250px;
		padding: 12px;
		resize: none;
		line-height: inherit;
		margin: 0;
		width: 100%;
	}
}